* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/cadastro/hotel.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-left: 1300px;
}
.form-cadastro h1 {
    margin-bottom: 20px;
    color: rgb(252, 1, 1);
}

.form-cadastro label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-cadastro input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.form-cadastro button {
    background-color: rgb(252, 1, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.form-cadastro button:hover {
    background-color: rgb(200, 0, 0);
}